.calendarContainer {
  width: 1400px;
  height: 700px;
  background-color: #AAA06C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
  left: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px black solid;
}

.header {
  width: 80%;
  height: 20%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.month, .year {
  padding-inline: 20px;
  font-size: 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.footer {
  width: 80%;
  height: 20%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addEvent, .searchEvent{
  display: flex;
  align-items: center;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

.addEventButton, .searchEventButton {
  width: 60px;
  height: 60px;
}

.calendar-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.weekday {
  width: 14%;
  text-align: center;
  background-color: #F7C666;
  opacity: 80%;
  border: 1px solid black;
}

.table-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
} 

.calendar-day {
  width: 14%;
  height: 100px;
  position: relative;
  background-color: #F0DCB4;
  border: 1px solid black;
  opacity: 70%;
}

.calendar-day:hover {
  background-color: rgba(237, 215, 155);
}

.calendar-day p {
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: #837f7f;
}

.current-month {
  opacity: 100%;
}

.current-month p {
  color: #000000;
}

.today p {
  margin-top: 2%;
  width: 28px; 
  line-height: 28px; 
  border-radius: 50%; 
  text-align: center; 
  background-color: rgb(124, 124, 6); 
  color: white;
}

select {
  font-family: 'Poppins', 'sans-serif';
  color: white;
  font-weight: bold;
}